<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyang.crawler4j.dao.AgencyMapper">
  <resultMap id="BaseResultMap" type="com.xyang.crawler4j.entity.Agency">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="link_no" jdbcType="VARCHAR" property="linkNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="linkman_name" jdbcType="VARCHAR" property="linkmanName" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_time_str" jdbcType="VARCHAR" property="createTimeStr" />
    <result column="agent_id" jdbcType="INTEGER" property="agentId" />
    <result column="agent_name" jdbcType="VARCHAR" property="agentName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, link_no, name, linkman_name, tel, address, create_time, create_time_str, agent_id, 
    agent_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from agency
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from agency
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xyang.crawler4j.entity.Agency">
    insert into agency (id, link_no, name, 
      linkman_name, tel, address, 
      create_time, create_time_str, agent_id, 
      agent_name)
    values (#{id,jdbcType=INTEGER}, #{linkNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{linkmanName,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createTimeStr,jdbcType=VARCHAR}, #{agentId,jdbcType=INTEGER}, 
      #{agentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xyang.crawler4j.entity.Agency">
    insert into agency
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="linkNo != null">
        link_no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="linkmanName != null">
        linkman_name,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createTimeStr != null">
        create_time_str,
      </if>
      <if test="agentId != null">
        agent_id,
      </if>
      <if test="agentName != null">
        agent_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="linkNo != null">
        #{linkNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="linkmanName != null">
        #{linkmanName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTimeStr != null">
        #{createTimeStr,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=INTEGER},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyang.crawler4j.entity.Agency">
    update agency
    <set>
      <if test="linkNo != null">
        link_no = #{linkNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="linkmanName != null">
        linkman_name = #{linkmanName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTimeStr != null">
        create_time_str = #{createTimeStr,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        agent_id = #{agentId,jdbcType=INTEGER},
      </if>
      <if test="agentName != null">
        agent_name = #{agentName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyang.crawler4j.entity.Agency">
    update agency
    set link_no = #{linkNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      linkman_name = #{linkmanName,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_time_str = #{createTimeStr,jdbcType=VARCHAR},
      agent_id = #{agentId,jdbcType=INTEGER},
      agent_name = #{agentName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.xyang.crawler4j.entity.Agency">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="link_no" jdbcType="VARCHAR" property="linkNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="linkman_name" jdbcType="VARCHAR" property="linkmanName" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_time_str" jdbcType="VARCHAR" property="createTimeStr" />
  </resultMap>
  <sql id="Base_Column_List">
    id, link_no, name, linkman_name, tel, address, create_time, create_time_str
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from agency
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from agency
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xyang.crawler4j.entity.Agency">
    insert into agency (id, link_no, name, 
      linkman_name, tel, address, 
      create_time, create_time_str)
    values (#{id,jdbcType=INTEGER}, #{linkNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{linkmanName,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createTimeStr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xyang.crawler4j.entity.Agency">
    insert into agency
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="linkNo != null">
        link_no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="linkmanName != null">
        linkman_name,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createTimeStr != null">
        create_time_str,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="linkNo != null">
        #{linkNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="linkmanName != null">
        #{linkmanName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTimeStr != null">
        #{createTimeStr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyang.crawler4j.entity.Agency">
    update agency
    <set>
      <if test="linkNo != null">
        link_no = #{linkNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="linkmanName != null">
        linkman_name = #{linkmanName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTimeStr != null">
        create_time_str = #{createTimeStr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyang.crawler4j.entity.Agency">
    update agency
    set link_no = #{linkNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      linkman_name = #{linkmanName,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_time_str = #{createTimeStr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>