<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:amq="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://activemq.apache.org/schema/core
        http://activemq.apache.org/schema/core/activemq-core-5.8.0.xsd">

	<!-- 资源文件加载 -->
	<context:property-placeholder location="config.properties" local-override="true" />
	
	<!-- 配置JMS连接工厂 -->
	<bean id="connectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://${jms.url}" />
		<!-- Session缓存数量 -->
		<!-- <property name="sessionCacheSize" value="100" /> -->
	</bean>

	<!-- 配置JMS模版 -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<!-- 发布模式设置 pub/sub模型（发布/订阅 ）-->
		<property name="pubSubDomain" value="false"/>
	</bean>

	<!-- 发送消息的目的地（一个队列） -->
	<bean id="requestDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<!-- 设置消息队列的名字 -->
		<constructor-arg index="0" value="${requestQueue}" />
	</bean>

	<!-- 应答消息的目的地（一个队列） -->
	<bean id="replyDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<!-- 设置消息队列的名字 -->
		<constructor-arg index="0" value="${replyQueue}" />
	</bean>

	<!-- 消息生产者 -->
	<bean id="producer" class="com.xyang.activemq.Producer">
		<property name="jmsTemplate" ref="jmsTemplate" />
		<property name="requestDestination" ref="requestDestination" />
		<property name="replyDestination" ref="replyDestination" />
	</bean>

	<!-- 消息消费者 -->
	<bean id="consumer" class="com.xyang.activemq.Consumer">
		<property name="jmsTemplate" ref="jmsTemplate" />
	</bean>

	<!-- 监听容器 -->
	<bean id="jmsContainerRequest" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="requestDestination" />
		<property name="messageListener" ref="consumer" />
	</bean>

</beans>